// @use "~/@fontsource/lato/scss/mixins" as Lato;
// @use "~/@fontsource/raleway/scss/mixins" as Raleway;

// Include both normal and bold weights
// @include Lato.fontFace($fontDir: "../webfonts", $weight: 400);
// @include Lato.fontFace($fontDir: "../webfonts", $weight: 700);

// @include Raleway.fontFace($fontDir: "../webfonts");

@font-face {
  font-family: "Monocraft";
  font-style: normal;
  font-display: auto;
  src:
    local("Monocraft"),
    url("../webfonts/Monocraft.ttf") format("truetype"),
    url("../webfonts/Monocraft.otf") format("opentype");
  unicode-range: U+000-5FF;
}

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

html,
body,
.container {
  font-family: "Monocraft", sans-serif;
}

.jumbotron .container {
  font-family: "Monocraft", sans-serif;
}
