/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

[data-bs-theme="light"] .challenge-button {
  border: none;
  box-shadow: 0 0 15px var(--bs-secondary);

  &.challenge-solved {
    background-color: var(--bs-success) !important;

    &:hover {
      background-color: var(--bs-success) !important;
    }
  }
}

[data-bs-theme="dark"] .challenge-button {
  border: none;
  background-color: var(--bs-gray-dark);

  &:hover {
    background-color: var(--bs-gray);
  }

  &.challenge-solved {
    background-color: var(--bs-success) !important;

    &:hover {
      background-color: var(--bs-success) !important;
    }
  }
}
